/* Universal Styles*/

html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
}

/* header - navigation bar*/

header {
  display: flex;
  justify-content: center;
  color: white;
  background-image: url("../images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
}

.container {
  width: 960px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 888px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: cadetblue;
  margin-top: 1rem;
}

.nav-logo {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.nav-links {
  margin-right: 2rem;
}

.nav-logo img {
  height: 1.5rem;
  margin-right: 1rem;
}

.services, .product {
  margin-right: 2rem;
}

.menu {
  display: none;
  padding-bottom: 1rem;
}

.dropdown{
  width: 20%;
  margin-left: 30%;
  margin-right: 30%;
  background-color: cadetblue;
  position: absolute;
  z-index: 1;
  top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drop-link {
  display: block;
  text-align: center;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  display: none;
}


.slogan {
  background-color: white;
  color: black;
  font-size: 2rem;
  font-weight: bold;
  padding: 1.5rem 5rem;
  line-height: 1.2;
  position: relative;
  top: 10rem;
  align-self: flex-end;
  left: 2rem;
}

/*Middle section with icons and descriptions*/


.icons {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.full-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 8rem;
}

.exam {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 3.5rem;
}

.exam img {
  width: 3.5rem;
}

.custom {
  margin-right: 6rem;
  margin-left: 6rem;
  width: 5rem;
}

.custom img {
  width: 5rem;
}

.delivery {
  width: 5rem;
}

.delivery img {
  width: 5rem;
}

/*Section with text blerbs*/

.text-blerbs {
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
}

.blerb {
  width: 35%;
}

.philosophy-title, .appointments-title {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  margin-bottom: 1rem;
  font-weight: bold;
  padding-left: 1.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.left {
  margin-right: 2.5%;
}

.right {
  margin-left: 2.5%;
}

/*Copright blerb*/

footer {
  display: flex;
  justify-content: center;
}

.copright {
  background-color: azure;
  width: 960px;
  padding-left: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  display: flex;
  align-items: center;
}

.footer-logo {
  height: 1.5rem;
  padding-right: 1rem;
}

/*Media Querries*/


@media only screen and (max-width: 1050px) {

  /* header - navigation bar*/

  header {
    height: 22rem;
  }

  .container {
    width: 100%;
  }

  .nav-bar {
    margin-top: 0;
    width: 100%;
  }

  .dropdown:hover .drop-link {
    display: block;
  }

  .slogan {
    left: -2rem;
    top: 5rem;
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }

  /*Middle section with icons and descriptions*/

  /*Section with text blerbs*/

  /*Copright blerb*/

}


@media only screen and (max-width: 750px) {


  body {
    width: 100%;
  }
  /* header - navigation bar*/
  header {
    background-position: 20%;
    height: 17rem;
  }

  .link {
    display: none;
  }

  .menu {
    display: block;
  }

  .slogan {
    top: 9rem;
    width: 100%;
    left: 0;
    text-align: center;
    align-self: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1rem;
    padding: 1rem 0;
  }


  /*Middle section with icons and descriptions*/

  .icons {
    flex-direction: column;
    align-items: center;
    margin-top: 3.77rem;
    margin-bottom: 3.77rem;
  }

  .full-icon {
    justify-content: space-around;
    font-size: 0.77rem;
  }


  /*Section with text blerbs*/

  .text-blerbs {
    flex-direction: column;
  }

  .blerb, .philosophy-title, .appointments-title {
    width: 100%;
    align-items: center;
  }

  .philosophy-title, .appointments-title {
    text-align: center;
    margin-bottom: 1rem;
    width: 96%;
  }

  .left {
    margin-left: 0;
    margin-right: 0%;
  }

  .right {
    margin-left: 0%;
    margin-right: 0%;
  }


  .philosophy-text {
    margin-bottom: 4rem;
  }

  .appointments-text, .philosophy-text {
    font-size: 0.77rem;
    padding-left: 0.5rem;
  }

  /*Copright blerb*/

  .copright {
    width: 100%;
    justify-content: center;
  }

  .copyright-text {
    display: none;
  }
}

@media only screen and (max-width: 436px) {
  .slogan-title {
    display: none;
  }
  .dropdown {
    width: 30%;
  }
}
