/* Universal Styles*/

html {
  font-size: 18px;
}

body {
  line-height: 1.4;
  font-family: Helvetica;
}

/* header - navigation bar*/



/*Middle section with icons and descriptions*/



/*Section with text blerbs*/



/*Copright blerb*/



/*Media Querries*/
